.flex-container {
  color: RGB(205, 218, 211);
}

.land-def {
  background-image: linear-gradient( 
      45deg, rgba(48, 127, 90, 0.4), rgba(63, 198, 135, 0.4)
  ), url("../img/pexels-andre-moura-3293037.jpg");
  padding: 3%;
}

.media-workers {
  background-image: linear-gradient( 
      45deg, rgba(140, 119, 70, 0.4), rgba(234, 198, 114, 0.4)
  ), url("../img/pexels-brotin-biswas-518543.jpg");
  background-size: cover;
  padding: 3%;  
}

.iframe-container {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #fff;
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom:
  right: 0;
  width: 100%;
  height: 100%;
}
